*{
    margin: 0px;
    padding: 5px;   
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    margin: 10%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
}

.page-header{
    align-content: center;
}

.field{
    display: flex;
    flex-direction: column;
}

